@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
    
.content{
  position: relative;
  background: #1f1f1f;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .content{
  left: 250px;
  width: calc(100% - 250px);
}
.content .text{
  margin: 0;padding: 0;
  display: inline-block;
  color: #F5F5F5;
  font-size: 25px;
  font-weight: 500;
  margin-left: 18px;margin-right: 18px;
  width: 100%;
}
.content .title{
  margin: 0;padding: 0;
  width: 100%;

  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #F5F5F5;
  font-size: 30px;
  font-weight: 500;
}

.link{
  transition: color 0.3s ease;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #8080FF;
  font-size: 25px;
  font-weight: 500;
  margin-left: 18px;margin-right: 18px;
  width: 100%;
}

.link:hover{
  color: #A0A0FF;
}

.news{
  border: 2px #F5F5F5;
  border-radius: 50px;
  margin: 40px !important;
  padding: 40px !important;
}

@media screen and (max-width: 600px) {
  .content{
    left: 78px;
  }
  .sidebar.open ~ .content{
    left: 78px;
    width: calc(100% - 78px);
  }
}