.slidecontainer {
    width: 100%;
    height: 30px;
    margin: 15px;
  }
  
  .slider {
    -webkit-appearance: none;
    position: relative;
    width: 30%;
    height: 15px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    overflow-x: visible;
    top: 8px;
    left: 5px;
    font-size: initial;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #04AA6D;
    opacity: 1;
    cursor: move;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: move;
  }